<?xml version="1.0"?>
<phpunit
    bootstrap="bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    verbose="true"
>
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">./unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory suffix="Test.php">./integration</directory>
        </testsuite>
    </testsuites>
    
    <coverage>
        <include>
            <directory suffix=".php">..</directory>
        </include>
        <exclude>
            <directory>../includes/vendor</directory>
            <directory>../tests</directory>
        </exclude>
    </coverage>
</phpunit>